---
version: 2
interactions:
    - id: 0
      request:
        host: api.canva.com
        body: '{"design_id":"DAF7Q_-7g9Q","format":{"type":"pdf"}}'
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
            Content-Type:
                - application/json
        url: https://api.canva.com/rest/v1/exports
        method: POST
      response:
        body: '{"job":{"id":"798ec0ed-d06d-43eb-b735-d3d1b252d3e4","status":"in_progress"}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 595.978916ms
    - id: 1
      request:
        host: api.canva.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://api.canva.com/rest/v1/exports/798ec0ed-d06d-43eb-b735-d3d1b252d3e4
        method: GET
      response:
        body: '{"job":{"id":"798ec0ed-d06d-43eb-b735-d3d1b252d3e4","status":"in_progress"}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 153.681292ms
[...]
    - id: 5
      request:
        host: api.canva.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://api.canva.com/rest/v1/exports/798ec0ed-d06d-43eb-b735-d3d1b252d3e4
        method: GET
      response:
        body: '{"job":{"id":"798ec0ed-d06d-43eb-b735-d3d1b252d3e4","status":"success","urls":["https://export-download.canva.com/-7g9Q/DAF7Q_-7g9Q/-1/0-2420061386043999949.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUH5AO7UJ26%2F20260506%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20260506T194601Z&X-Amz-Expires=86355&X-Amz-Signature=7390b72256c03486a3ba225fb0de07eca2d4166362ac121ea1c9c52ab996404b&X-Amz-SignedHeaders=host%3Bx-amz-expected-bucket-owner&response-expires=Thu%2C%2007%20May%202026%2019%3A45%3A16%20GMT"]}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 158.468959ms
