---
version: 2
interactions:
    - id: 0
      request:
        host: api.canva.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://api.canva.com/rest/v1/folders/root/items
        method: GET
      response:
        body: '{"items":[{"type":"folder","folder":{"id":"uploads","name":"Uploads","created_at":1758922246,"updated_at":1758922246}}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 226.447584ms
    - id: 1
      request:
        host: api.canva.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED
        url: https://api.canva.com/rest/v1/folders/uploads/items
        method: GET
      response:
        body: '{"items":[{"type":"image","image":{"type":"image","id":"MAF7cITjZPY","name":"image.png","tags":[],"created_at":1706688831,"updated_at":1706688832,"thumbnail":{"width":200,"height":124,"url":"https://media.canva.com/v2/image-resize/format:PNG/height:124/quality:100/uri:ifs%3A%2F%2FM%2Fc5608789-7d9e-447a-ab0b-ee42503300a0/watermark:F/width:200?csig=AAAAAAAAAAAAAAAAAAAAAB9M3kLIjP0JjrClrELJTp1GF8i0Av5I88xu6s8yKxCP&exp=1778193889&osig=AAAAAAAAAAAAAAAAAAAAABirroefQ9z5xZbUr2pXiokko-hqP1yYmX1_OEOsEzH9&signer=media-rpc&x-canva-quality=thumbnail"}}},{"type":"image","image":{"type":"image","id":"MAF7cAALajs","name":"image.png","tags":[],"created_at":1706688357,"updated_at":170668835[...]
[...]
